<div class="container-fluid">
    <div class="navbar-header">
        <button data-dojo-attach-point="sidebarToggleButton" type="button" class="navbar-toggle navbar-toggle-left">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a data-dojo-attach-point="titleNode" class="navbar-brand" href="#"></a>
        <button data-dojo-attach-point="collapseMenuToggleButton" type="button" class="navbar-toggle navbar-toggle-icon" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse">
        <ul id="mapTabs" class="nav nav-tabs">
            <li id="option1" class="active"> <a href="#" data-toggle="tab">Option 1</a></li>
            <li id="option2"> <a href="#" data-toggle="tab">Option 2</a></li>
            <li id="option3"> <a href="#" data-toggle="tab">Option 3</a></li>
            <li id="option4"> <a href="#" data-toggle="tab">Option 4</a></li>
        </ul>
    </div>
</div>
